<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcmatch_ssm_springboot.mapper.NoticeMapper">

    <!-- 通用查询映射结果  数组结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcmatch_ssm_springboot.model.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="time" property="time" />
        <result column="content" property="content" />
        <association  property="organizer"
                      javaType="com.example.dcmatch_ssm_springboot.model.Organizer">
            <id column="organizer_id" property="id" />
            <result column="email" property="email" />
            <result column="school" property="school" />
            <result column="establish_date" property="establishDate" />
            <result column="school_type" property="schoolType" />
            <result column="school_running_type" property="schoolRunningType" />
            <result column="id_img" property="idImg" />
            <association  property="user"
                          javaType="com.example.dcmatch_ssm_springboot.model.User">
                <id column="user_id" property="id" />
                <result column="account" property="account" />
                <result column="phone" property="phone" />
                <result column="password" property="password" />
                <result column="name" property="name" />
                <result column="utype" property="type" />
            </association>
        </association>

    </resultMap>

    <!--增加一个对象-->
    <insert id="add" parameterType="com.example.dcmatch_ssm_springboot.model.Notice">
        insert into dcmdb.notice (title,organizer_id,time,content)
        values (#{title},#{organizer.id},#{time},#{content});
    </insert>

    <!--根据id删除一个对象-->
    <delete id="deleteById" parameterType="com.example.dcmatch_ssm_springboot.model.Notice">
       delete from dcmdb.notice where id=#{id}
    </delete>

    <!--根据id更新对象信息 -->
    <update id="update" parameterType="com.example.dcmatch_ssm_springboot.model.Notice">
        update dcmdb.notice
        set title=#{title},organizer_id=#{organizer.id},time=#{time},content=#{content}
        where id=#{id};
    </update>

    <!--查询全部-->
    <!--  解决重名的方法  https://www.cnblogs.com/deng-cc/p/9337601.html  -->
    <select id="getAllNotice" resultMap="BaseResultMap">
        select *, u.type as utype
        from  dcmdb.notice n, dcmdb.organizer o, dcmdb.user u
        where n.organizer_id=o.id and o.user_id=u.id
    </select>

    <!--  精确查询  -->
    <!--根据 student_id 查询,返回一个对象  -->
    <select id="findById" resultMap="BaseResultMap">
        select *, u.type as utype
        from  dcmdb.notice n, dcmdb.organizer o, dcmdb.user u
        where n.organizer_id=o.id and o.user_id=u.id and n.id=#{id}
    </select>

    <!--  精确查询  -->
    <!--根据 student_id 查询,返回一个对象  -->
    <select id="findAllByTitleLike" resultMap="BaseResultMap">
        select *, u.type as utype
        from  dcmdb.notice n, dcmdb.organizer o, dcmdb.user u
        where n.organizer_id=o.id and o.user_id=u.id and n.title=#{title}
    </select>

    <!--  精确查询  -->
    <!--根据 student_user_account 查询,返回一个对象  -->
    <select id="findAllByOrganizer_User_Account" resultMap="BaseResultMap">
        select *, u.type as utype
        from  dcmdb.notice n, dcmdb.organizer o, dcmdb.user u
        where n.organizer_id=o.id and o.user_id=u.id and u.account = #{account}
    </select>

</mapper>
