<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcmatch_ssm_springboot.mapper.OrganizerMapper">

    <!-- 通用查询映射结果  数组结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcmatch_ssm_springboot.model.Organizer">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="school" property="school" />
        <result column="establish_date" property="establishDate" />
        <result column="school_type" property="schoolType" />
        <result column="school_running_type" property="schoolRunningType" />
        <result column="id_img" property="idImg" />
        <association  property="user"
                      javaType="com.example.dcmatch_ssm_springboot.model.User">
            <id column="user_id" property="id" />
            <result column="account" property="account" />
            <result column="phone" property="phone" />
            <result column="password" property="password" />
            <result column="name" property="name" />
            <result column="type" property="type" />
        </association>

    </resultMap>

    <!--增加一个对象-->
    <insert id="add" parameterType="com.example.dcmatch_ssm_springboot.model.Organizer">
        insert into dcmdb.organizer (user_id,email,school,establish_date,school_type,school_running_type,id_img)
        values (#{user.id},#{email},#{school},#{establishDate},#{schoolType},#{schoolRunningType},#{idImg});
    </insert>

    <!--根据id删除一个对象-->
    <delete id="deleteById" parameterType="com.example.dcmatch_ssm_springboot.model.Organizer">
       delete from dcmdb.organizer where id=#{id}
    </delete>

    <!--根据id更新对象信息 -->
    <update id="update" parameterType="com.example.dcmatch_ssm_springboot.model.Organizer">
        update dcmdb.organizer
        set user_id=#{user.id},email=#{email},school=#{school}
        ,establish_date=#{establishDate},school_type=#{schoolType}
        ,school_running_type=#{schoolRunningType},id_img=#{idImg}
        where id=#{id};
    </update>

    <!--查询全部-->
    <select id="getAllOrganizer" resultMap="BaseResultMap">
        select *
        from  dcmdb.organizer o, dcmdb.user u
        where o.user_id=u.id
    </select>

    <!--  精确查询  -->
    <!--根据 student_id 查询,返回一个对象  -->
    <select id="findById" resultMap="BaseResultMap">
        select *
        from  dcmdb.organizer o, dcmdb.user u
        where o.user_id=u.id
        and o.id=#{id}
    </select>

    <!--  精确查询  -->
    <!--根据 student_user_account 查询,返回一个对象  -->
    <select id="findByUser_Account" resultMap="BaseResultMap">
        select *
        from  dcmdb.organizer o, dcmdb.user u
        where o.user_id=u.id
        and u.account = #{account}
    </select>

    <!--  精确查询  -->
    <!--根据 student_user_name 和 student_user_password 查询,返回一个对象  -->
    <select id="findAllByUser_NameLikeOrUser_AccountLike" resultMap="BaseResultMap">
        select *
        from  dcmdb.organizer o, dcmdb.user u
        where o.user_id=u.id
        and u.name like '%${keywords}%'
        or o.user_id=u.id and u.account like '%${keywords}%'
    </select>

</mapper>
